* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  line-height: normal;
}

::-webkit-input-placeholder {
  color: #aaa;
  font-weight: 300;
}

::-moz-placeholder {
  color: #aaa;
  font-weight: 300;
}

:-ms-input-placeholder {
  color: #aaa;
  font-weight: 300;
}

input:-moz-placeholder {
  color: #aaa;
  font-weight: 300;
}

body {
  background: #FFF;
  font-family: 'Lato', sans-serif;
  font-size: 16px;
}

.header {
  border-bottom: 1px solid #ccc;
  background: #EAE8E8;
}

.header .header-content {
  width: 100%;
  max-width: 980px;
  margin: auto;
  padding: 6px 1px;
  overflow: auto;
}

.site-title {
  font-weight: 300;
  font-size: 32px;
  float: left;
}

.site-title a {
  text-decoration: none;
  color: #FFF;
}

.site-logo {
  background-image: url('/img/logo.svg');
  background-position: center;
  background-repeat: no-repeat;
  height: 40px;
  width: 270px;
  display: block;
  text-indent: -9999em;
}

.signin {
  position: absolute;
  top: 50%;
  right: 10%;
  transform: translateY(-50%);
}

@media (max-width: 600px) {
  .site-logo {
    height: 50px;
    width: 140px;
  };
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 30px;
  line-height: 30px;
  background-color: #597FA5;
}

.footer span {
  margin: 0 0 8px 0;
  font-size: 14px;
  color: #FFF;
}

.footer a {
  color: #FFF;
  text-decoration: none;
  font-weight: 700;
}

.container-fluid {
  padding-top: 0px;
}

.loading {
  color: red;
  text-align: center;
}

.row {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.scoop-right {
  background: #F7F7F7;
  min-height: 100px;
}

.scoop-left {
  background: aliceblue;
}

.scoopframe {
  position: relative;
  height: 100%;
  width: 100%;
  min-height: 600px;
}

.scoop-row {
  margin-top: 4px;
}

.subject {
  text-align: center;
  background: rgba(119, 119, 119, 0.34);
  padding: 10px 0px 10px 0px;
}

i.fa {
  width: 16px;
  height: 20px;
}

div.modalbody > a.btn {
  width:12em;
}
